.app{

}

.oneChat{
    padding: 12px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.openChat{
    background-color:rgb(67, 64, 64);
}

.photo{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.createButton{
  background-color: aqua;
  width: 200px;
  height: 15ox;
}

.single{
  background-color: gray;
}

.eachMessageReceive{
    margin-left: 50px;
}

.eachMessage{
    padding: 5px;
}

.messageinput{
   margin-left: 10px; 
}

.mainappcontainer{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.inputSend{
    display: flex;
    flex-direction: row;

}
.totalSingleChat{
    display: flex;
    flex-direction: row;
    max-width: 12;
}

.allChatContainer{
    min-width: 40%;
}

.singleChatContainer{
    min-width: 60%;
}